<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판</title>
 
</head>
<body>
    <style>
        textarea:disabled{
            background-color: white;
        }
        a{
            text-decoration-line: none;
            color: black;
        }

    </style>
    <div id="board_write">
        <h4>글 본문</h4>
            <div id="write_area">
                <form enctype="multipart/form-data" action="" method="post">
                    <p>
                        <h4>작성자↓ </h4>
                        <th type="text" id="WriterName" name="ContentName" th:text="${allContent.id}" placeholder="이름" readonly>아이디 입니다</th>
                    </p>
                    <div id="in_title">
                        <h4>제목↓  </h4>
                        <textarea name="title" id="utitle" th:text="${allContent.title}" rows="1" cols="55" placeholder="제목(30자 제한)" maxlength="30" readonly>제목 입니다</textarea>
                    </div>
                    <div class="wi_line"></div>
                    <div id="in_content">
                        <h4>본문↓  </h4>
                        <textarea rows="10" cols="55" id="Content-content" name="content" th:text="${allContent.content}" placeholder="내용(100자 제한)" maxlength="100" readonly>내용 입니다</textarea>
                    </div>
                      <input type="file" name="SelectFile" readonly/>
                    <div class="bt_se">
                        <a th:href="@{/boardHome/}">게시글 홈으로</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>