<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring web</title>
</head>
<body>
<form th:method="get" th:object="${idMember}">
  <h3 th:text="|접속중인 아이디:*{joinId}|"></h3>

  <p><input th:text="#{name}" type="text" id="JoinName" placeholder="서버에 연결되어있나요?" th:field="*{joinName}" maxlength="20"  disabled> </p>
  <p><input th:text="#{id}" type="text" id="JoinId"  placeholder="서버에 연결되어있나요?"maxlength="20" th:field="*{joinId}"  disabled>
  <p><input th:text="#{pwd}" type="password" id="JoinPwd" name="joinPwd" placeholder="서버에 연결되어있나요?"maxlength="20" th:value="${idMember.getJoinPwd()}" disabled> </p>
  <p><input th:text="#{call}" type="text" id="JoinCall"  placeholder="서버에 연결되어있나요?" th:field="*{joinCall}"  disabled> </p>
  <a th:href="@{/home/home1}">클릭시 홈으로</a>
</form>
</body>
</html>