<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring web</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/member/updateFunction.js"></script>
</head>
<body>
<form th:action  th:object="${idMember}" method="post">
    <h3 th:text="|접속중인 아이디 아이디: *{joinId}|"></h3>
    <p>
        <input th:text="#{name}" type="text" id="UpdateName" placeholder="서버에 연결되어있나요?"
               th:placeholder="#{join.name}" th:field="*{joinName}">
        <sub th:text="#{join.name.sub}"></sub>
    </p>

    <p> <input th:text="#{id.readonly}" type="text" id="UpdateId" placeholder="아이디 변경 불가" maxlength="20"
               th:placeholder="#{join.id}" th:field="*{joinId}" readonly></p>

    <p>
        <input th:text="#{pwd}" type="password" id="UpdatePwd" name="joinPwd" placeholder="서버에 연결되어있나요?" maxlength="20"
               th:placeholder="#{join.pwd}"  th:value="*{joinPwd}">
        <sub th:text="#{join.pwd.sub}"></sub>
    </p>

    <p>
        <input th:text="#{pwd.check}" type="password" id="updatePwdCheck" name="joinPwdCheck" th:value="*{joinPwdCheck}"  placeholder="비밀번호 동일 체크" maxlength="20"
               th:placeholder="#{pwd.check.ph}">
        <button type="submit" id="checkPwd" >비밀번호 동일 체크</button>
    </p>


    <p>
        <input th:text="#{call}" type="text" id="updateCall"  placeholder="서버에 연결되어있나요?"
               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11" th:field="*{joinCall}">
        <sub th:text="#{join.call.sub}"></sub>
        <button type="submit" id="checkCall">전화번호 중복 체크</button>
    </p>

    <div th:if="${#fields.hasGlobalErrors()}">
        <h3 th:text="#{joinCheckFail}"></h3>
    </div>
    <p>
        <button type="submit"  th:onclick="|location.href='@{/user/member1}'|">회원수정</button>
</form>
</body>
</html>